@import url(./common.scss);
@import url(./normalize.scss);

@font-face {
	font-family: Pixel;
	src: url(/font/CozetteVector.ttf);
}

body {
	font-family: Pixel;
	#root {
		height: 100%;
		width: 100%;
	}
}
